*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 5%;
}

nav{
    background-color: brown;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    list-style-type: none;
    overflow: hidden;
    /*display: inline-flex; /* Para hacer que el elemento tan solo ocupe lo que sus hijos marque */
    border-radius: 3px;
    align-items: center; /* Para alinear items flexibles respecto al eje secundario */
    justify-content: space-between;
}

footer{
    background-color: brown;
    height: 80px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    list-style-type: none;
    overflow: hidden;
    /*display: inline-flex; /* Para hacer que el elemento tan solo ocupe lo que sus hijos marque */
    border-radius: 3px;
    align-items: center; /* Para alinear items flexibles respecto al eje secundario */
    justify-content: space-between;
    align-content: center;
}

#seccionUno{
    background-image: url('./imgagenes/banner_bg.jpg');
    background-size: cover;
    height: 960px;
    text-align: center;

    align-content: center;
    text-decoration: white;
}

#seccionDos{
    background-color: black;
    text-align: center;
}

#seccionTres{
    background-color: black;
}

#seccionCuatro{
    background-color: black;
}

#tendenciasContainer{
    align-content: center;
    align-self: auto;
}

.botonesSeccionTres{
    display: block;
    position: relative;
    border-radius: 8px;
    border-color: brown;
    background-color: black;
    text-decoration: white;
    font-size: 17px;
    height: 40px;
    color: brown;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    border: 2px solid black;
    align-items: center; /* Para alinear items flexibles respecto al eje secundario */
    justify-content: space-between;
    align-content: center;
}


h1{
    color: floralwhite;
}

h2{
    color: floralwhite;
}

h3{
    color: floralwhite;
    align-items: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}

.contenedor-botones-footer{
    display: inline;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 8px;
    border-color: brown;
    background-color: brown;
    text-decoration: white;
    font-size: 17px;
    height: 80px;
    color: brown;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    border: 2px solid brown;
    margin-top: 1%;
    margin-bottom: 1%;
    align-content: center;
}

span{
    color: floralwhite;
    font-weight: bold;
    font-size: large;
    display: inline;
    float: inline-start;
    position: relative;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.contenedor-botones{
    display: inline;
    float: inline-end;
    position: relative;
    justify-content: center;
    border-radius: 8px;
    border-color: brown;
    background-color: brown;
    text-decoration: white;
    font-size: 17px;
    height: 40px;
    color: brown;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    border: 2px solid brown;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 5%;
}

.peliculas{
    display: inline;
}

.aclamadas{
    display: inline;
}

#idLoginPage{
    background-image: url('./imgagenes/peliculas.png');
    background-size: cover;
    height: 960px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    text-decoration: rgb(7, 7, 7);
}

#idH1Login{
    font-family: 'Roboto', sans-serif;
    color: rgb(222, 216, 216);
    width: 100%;
}

#idContainerLogin{
    background-color: black;
    width: 30%;
    min-width: 300px;
    height: 60%;
    align-content: center;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cc1717;
    border-radius: 15px;
}

#id_login_button{
    width: 80%;
    height: 100%;
}


#pokemonContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon {
    background-color: rgb(236, 12, 12);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 200px;
    text-align: center;
}

#idH1Pokemon{
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}