*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: crimson;
}


#seccionUno{
    background-image: url('banner_bg.jpg');
    background-size: cover;
    height: 1000px;
}

#seccionDos{
    background-color: black;
}

#seccionTres{
    background-color: black;
}

#seccionCuatro{
    background-color: black;
}

#tendenciasContainer{
    align-self: auto;
}

h1{
    color: floralwhite;
}

h2{
    color: floralwhite;
}

h3{
    color: floralwhite;
}

footer{
    background-color: crimson;
}

span{
    color: floralwhite;
    font-weight: bold;
    font-size: large;
}

.peliculas{
    display: inline;
}

.aclamadas{
    display: inline;
}